* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #8aa29e;
  --color-dark: #686963;
  --color-medium: #e3f2fd;
  --color-light: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-medium);
  color: var(--color-dark);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.header {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 1rem 2rem;
}

.btn-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-book-btn {
  padding: 1rem 2rem;
  background-color: var(--color-medium);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-dark);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 3ms;
}

.add-book-btn:hover {
  background-color: var(--color-light);
}

.form-container {
  background-color: rgba(104, 105, 99, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.form {
  position: relative;
  background-color: var(--color-light);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.open {
  animation: popOut 0.3s ease;
}

.close {
  animation: popIn 0.3s ease;
}

@keyframes popIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes popOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.form input {
  background-color: var(--color-primary);
  caret-color: var(--color-medium);
  color: var(--color-medium);
  accent-color: var(--color-primary);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.form input:focus {
  outline: none;
}

.form input::placeholder {
  color: var(--color-light);
}

.form .checkbox-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form .checkbox {
  width: 1.2rem;
  height: 1.2rem;
}

.button {
  background-color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
  align-self: stretch;
}
